<mat-sidenav-container class="project-container">
  <mat-sidenav class="project-nav" #sidenav mode="side" opened>
    <ul>
      <li>
        <h2>{{ project?.project_name }}</h2>
      </li>
      <li>
        <a class="nav-link" 
           id="projnav"
           (click)="projectMenuLinkNav($event)"
           [routerLink]="['./dashboard']">
          Dashboard
        </a>
      </li>
      <li>
        <a class="nav-link" 
           id="projsettings"
           (click)="projectMenuLinkNav($event)"
          [routerLink]="['./settings']">
          Settings
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grid-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
