<mat-sidenav-container class="project-container">
  <mat-sidenav class="project-nav" #sidenav mode="side" opened  color="primary">
    <ul>
      <li>
        <h2>{{ project?.project_name }}</h2>
      </li>
      <li>
        <a class="nav-link" 
           id="projnav"
           (click)="projectMenuLinkNav($event)"
           [routerLink]="['../dashboard']" i18n>
          Dashboard
        </a>
      </li>
      <li>
        <a class="nav-link" 
           id="projsettings"
           (click)="projectMenuLinkNav($event)"
          [routerLink]="['../settings']" i18n>
          Settings
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grid-content">

      <app-project-dashboard 
         [project]="project"
         (jenkinsconfig)="jenkinsConfigUpdate($event)"
        *ngIf="isCurrentComponent('dashboard')">
      </app-project-dashboard>

        <app-project-sourcecode-struture-analysis 
          *ngIf="isCurrentComponent('structure')">
        </app-project-sourcecode-struture-analysis>

        <app-project-test-cases-dashboard
          [project]="project"
          *ngIf="isCurrentComponent('test-cases')">
        </app-project-test-cases-dashboard>

      <app-project-setting 
         [project]="project"
        *ngIf="isCurrentComponent('settings')">
      </app-project-setting>

      <app-project-report 
         [project]="project"
        *ngIf="isCurrentComponent('report')">
      </app-project-setting>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
