mat-grid-tile-footer {
  background-color: lightblue;
}

.site-meta-box {
  content-align: flex-end;
}

.footer-meta-left {
  background-color: lightblue;
}

.footer-meta-right {
  background-color: lightpink;
}
