:host {
  display: flex;
  flex-basis: 100%;
  width: 100%;
  height: 100vhs;
  min-height: 400px;
  overflow: hidden;
  padding: 2px;
  border: solid 0.2px #ccc;
}

#graph_display {
  width: 100%;
  min-height: 400;
  overflow: hidden;
}

.data-card {
  margin-bottom: 20px !important;
}
