<app-display-build-history></app-display-build-history>

<div class="dashboard-container">
	<h2>Project actions</h2>
	<div class="dashboard-actions card-wrapper">
		<mat-card class="project-process-card">
			<mat-card-header class="service-image">
				<mat-card-title>Jenkins</mat-card-title>
        <img mat-card-image src="/assets/image/{{ jenkinsStatus }}.svg" alt="Jenkins' Job">
			</mat-card-header>
			<mat-card-actions>
				<button mat-button (click)="openJenkinsSettingDialog($event)">Setting</button>
				<button mat-button (click)="buildJenkinsProjectJob($event)">Build</button>
			</mat-card-actions>
		</mat-card>

		<mat-card class="project-process-card">
			<mat-card-header class="service-image">
				<mat-card-title>Code structure</mat-card-title>
				<img mat-card-image src="/assets/image/graph-analytics.svg" alt="Source code structure">
			</mat-card-header>
			<mat-card-actions>
				<button mat-button (click)="refreshCodeStructure($event)">Refresh</button>
				<button mat-button (click)="reviewSourceCodeStructure($event)">Review</button>
			</mat-card-actions>
		</mat-card>

		<mat-card class="project-process-card">
			<mat-card-header class="service-image">
				<mat-card-title>Test cases</mat-card-title>
				<img mat-card-image src="/assets/image/test-case-review.svg" alt="Test case review">
			</mat-card-header>
			<mat-card-actions>
				<button mat-button (click)="reviewAndCreateTestCases($event)">Refresh</button>
				<button mat-button (click)="executionTestCase($event)">Review</button>
			</mat-card-actions>
		</mat-card>

		<mat-card class="project-process-card">
			<mat-card-header class="service-image">
				<mat-card-title>Execution report</mat-card-title>
				<img mat-card-image src="/assets/image/execution-report.svg" alt="Test report">
			</mat-card-header>
			<mat-card-actions>
				<button mat-button (click)="syncProjectInformation($event)">Execute</button>
				<button mat-button (click)="reviewExecutionResult($event)">View</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
