.project-info {
	display: flex;
	width: 100%;
	margin: 0 -10px;
}

.project-card {
	width: 160px;
	margin: 0 5px auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
}

.rotating {

.hero {
  background: green;
  height: 200px;
}

.image-hero {
  display: block;
  height: 100px;
  animation: rotating 2s linear infinite; 
}
