@import './src/styles.scss';

.project-info {
	display: flex;
	width: 100%;
	margin: 0 -10px;
}

.project-card {
	width: 160px;
	margin: 0 5px auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
}

.hero {
  background: $primary;
  height: 200px;
}

.image-hero {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  max-height: 100px;
  max-width: 100px;
}

.rotating {
  transform: rotate(0deg);
  animation: rotor 4s infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out; 
}

@keyframes rotor {
  0% {
    transform: rotate(0deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  66.66% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

