<mat-toolbar class="fibre-breadcrumb" color="secondary">
  <span>
    <a [routerLink]="['../']">Dashboard</a>
  </span>
  <mat-icon>chevron_right</mat-icon>
  <span>Source code structure: Review</span>
</mat-toolbar>

<mat-grid-list cols="12" class="data-block">
  <mat-grid-tile colspan="10" rowspan="8" style="background-color: magenta;">
    <mat-grid-tile-header>
      Source code structure: {{ investigatedPackage }}
    </mat-grid-tile-header>

    <!-- Structure -->
    <app-source-code-structure-analyzer>
    </app-source-code-structure-analyzer>

  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="8" style="background-color: green;">
    <button mat-button (click)="sourceStructureAnalyzer.refreshSourceCodeStructure()">Sync</button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="12" class="data-block">
  <!-- Constants -->
  <mat-grid-tile colspan="12" rowspan="10">
    <mat-grid-tile-header>
      Constants
    </mat-grid-tile-header>
    <mat-grid-tile-footer class="fibre-toolbar source-code-structure">
      <button mat-button>Sync</button>
    </mat-grid-tile-footer>

    <!-- Constants collection -->
    <app-source-code-constants-collection>
    </app-source-code-constants-collection>

  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="12" class="data-block">
  <mat-grid-tile colspan="12" rowspan="10">
    <mat-grid-tile-header>
      Test paths
    </mat-grid-tile-header>
    <mat-grid-tile-footer class="fibre-toolbar source-code-structure">
      <button mat-button>Sync</button>
    </mat-grid-tile-footer>

    <!-- Test paths -->
    <app-source-code-test-paths-analyzer>
    </app-source-code-test-paths-analyzer>

  </mat-grid-tile>
</mat-grid-list>
