<mat-toolbar class="fibre-breadcrumb" color="secondary">
  <span>
    <a [routerLink]="['../']">Dashboard</a>
  </span>
  <mat-icon>chevron_right</mat-icon>
  <span i18n>Source code structure: Review</span>
</mat-toolbar>

<mat-card class="data-card">
  <mat-card-title i18n>Source code structure: {{ project?.interested_package }}</mat-card-title>

  <mat-card-content>
    <!-- Structure -->
    <app-source-code-structure-analyzer>
    </app-source-code-structure-analyzer>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="sourceStructureAnalyzer.refreshSourceCodeStructure()" i18n>Refresh</button>
  </mat-card-actions>
</mat-card>

<mat-card class="data-card">
  <mat-card-title i18n>
    Test paths
  </mat-card-title>

  <mat-card-content>
    <!-- Test paths -->
    <app-source-code-test-paths-analyzer>
    </app-source-code-test-paths-analyzer>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="sourceTestPaths.refreshTestPathInformation(project)" i18n>Refresh</button>
  </mat-card-actions>
</mat-card>

<mat-card class="data-card">
  <mat-card-title i18n>
    Control Flow Graph
  </mat-card-title>

  <mat-card-content>
    <app-source-code-control-flow-graph>
    </app-source-code-control-flow-graph>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="sourceStructureAnalyzer.refreshSourceCodeStructure()" i18n>Refresh</button>
  </mat-card-actions>
</mat-card>

<mat-card class="data-card">
  <mat-card-title i18n>
    Constants
  </mat-card-title>

  <mat-card-content>
    <app-source-code-constants-collection>
    </app-source-code-constants-collection>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="sourceStructureAnalyzer.refreshSourceCodeStructure()" i18n>Refresh</button>
  </mat-card-actions>
</mat-card>