<mat-toolbar class="fibre-breadcrumb" color="secondary">
  <span>
    <a [routerLink]="['../']">Dashboard</a>
  </span>
  <mat-icon>chevron_right</mat-icon>
  <span>Source code structure: Review</span>
</mat-toolbar>

<mat-card class="data-card">
  <mat-card-title>Source code structure: {{ investigatedPackage }}</mat-card-title>

  <mat-card-content>
    <!-- Structure -->
    <app-source-code-structure-analyzer>
    </app-source-code-structure-analyzer>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="sourceStructureAnalyzer.refreshSourceCodeStructure()">Refresh</button>
  </mat-card-actions>
</mat-card>

<mat-card class="data-card">
  <mat-card-title>
    Constants
  </mat-card-title>

  <mat-card-content>
    <!-- Constants collection -->
    <app-source-code-constants-collection>
    </app-source-code-constants-collection>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="sourceStructureAnalyzer.refreshSourceCodeStructure()">Refresh</button>
  </mat-card-actions>
</mat-card>

<mat-card class="data-card">
  <mat-card-title>
    Test paths
  </mat-card-title>

  <mat-card-content>
    <!-- Test paths -->
    <app-source-code-test-paths-analyzer>
    </app-source-code-test-paths-analyzer>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="sourceStructureAnalyzer.refreshSourceCodeStructure()">Refresh</button>
  </mat-card-actions>
</mat-card>
