<section id="grid-cont">
  <section class="grid_outer chapter accountaction">
    <div class="form-container">
      <div class="user-form">
        <h1>New Project</h1>
        <form #projectInformation="ngForm" class="form-pad">
          <mat-form-field>
            <input matInput placeholder="Project name" name="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Description" name="describe">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Repository">
              <mat-option *ngFor="let repo of repositories || None" value="{{ repo.id }}">
                {{ repo.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Branch">
              <mat-option value="branch">Branch</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="form-group">
            <button mat-button color="secondary" mat-raised-button (click)="cancelProjectSubmit()">Cancel</button>
            <button mat-button color="primary" mat-raised-button (click)="createNewProject(projectInformation)">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
