@import './src/styles.scss';

:host {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.content-fluid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
}

.wrapper {
  flex: 1 1 calc(50% - 2em);
  margin: 1em;
}

.content-body,
.content-title {
  padding: 20px;
}

.content-title {
  background-color: $secondary;
  color: white;
  font-weight: bold;
}

.content-body {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.controls-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
