<div class="content-fluid">

  <div class="wrapper mat-elevation-z2">
    <div class="content-title">Profile</div>
  </div>

  <div class="wrapper mat-elevation-z2">
    <div class="content-title">Jenkins Connection</div>
    <div class="content-body">
      <form class="form-wrapper" #jenkinsConf="ngForm" *ngFor="let info of jenkinsConfigCollection">

        <input type="hidden" name="uid" [(ngModel)]="info.uid">
        <input type="hidden" name="owner" [(ngModel)]="info.owner">
        
        <mat-form-field>
          <input matInput 
            placeholder="Connection name" 
            name="connection_name"
            [(ngModel)]="info.connection_name">
        </mat-form-field>

        <mat-form-field>
          <input matInput 
            placeholder="Server" 
            name="server"
            [(ngModel)]="info.server">
          <span matPrefix>http://</span>
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Username" 
            name="username"
            [(ngModel)]="info.username">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Password" 
            name="password"
            type="password"
            [(ngModel)]="info.password">
        </mat-form-field>

        <div class="controls-wrapper">
          <button mat-button mat-raised-button (click)="performResetConfigInformation(jenkinsConf)" i18n>
            Cancel
          </button>
          <button mat-button mat-raised-button (click)="performeTestJenkinsConnection(jenkinsConf)" i18n>
            Test connection
          </button>
          <button mat-button mat-raised-button color="primary" (click)="performSaveConnection(jenkinsConf)" i18n>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
