@import './src/styles.scss';

:host {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto 0px;
}

.content-wrapper {
  margin: 5px;
}

.inside-panel {
  display: flex;
  position: absolute;
  top: 0;
  flex-basis: 100%;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.data-title {
  font-weight: bold;
  background-color: $secondary;
  width: 100%;
  padding: 5px 10px;
  color: white;
  font-size: 1.2em;
}

.data-container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  padding: 0 20px;
}

.settings-panel {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  flex-flow: column;
}

.settings-pane h2 {
  width: 100%;
}

.form-field-wrapper {
  display: block;
  width: 100%;
  margin: 15px auto;
}

mat-form-field { width: 100%; }

.data-separate .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.panel-content {
  display: flex;
  fex-basis: 100%;
  flex-flow: row;
  margin-bottom: .5em;
}

.data-separate {
  margin-right: 12px;
}

.f7 {
  width: 69.5%;
}
 
.f5 {
  width: 49.5%;
}

